.category__filters{
    height: 4.5rem;
    border-top: var(--spacing-1x) solid var(--blue-300);
    border-bottom: var(--spacing-1x) solid var(--blue-300);
    padding: 0 var(--spacing-2);
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.category__filters::-webkit-scrollbar {
    display: none;
  }

.filter-options{
    flex: 0 0 auto;
    padding: var(--spacing-10x) var(--spacing-1);
    border-radius: 5rem;
    background: var(--blue-400);
    text-transform: capitalize;
    margin-right: var(--spacing-10x);
    color: var(--black-1);
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    
}
.filter-options:hover{
    background-color: var(--blue-350);
    transition: all 0.5s ease;
}

.filter-options.active{
    color: var(--black-7);
    background: var(--black-2);
    font-weight: 600;
}