.login__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.login {
    display: flex;
    justify-content: center;
}

.login-form {
    width: 30rem;
    padding: var(--spacing-2);
    background-color: var(--blue-400);
    border: 1px solid var(--blue-200);
    display: flex;
    align-items: center;

}

.login-form h4 {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
}

.login-form .input-box {
    width: 100%;
    background-color: var(--bg-color);
    padding: var(--spacing-1);
    margin: var(--spacing-1) 0;
    border-radius: var(--spacing-0-5);
    font-size: 1.1rem;
    color: var(--black-2);

}

.btn-md {
    width: 85%;
    font-weight: 600;
}

.btn-color {
    background: linear-gradient(to right, #ff7aa8, #516391);
    color: var(--black-1);

}

.btn-outline-primary {
    border: none;
}

.btn-outline-primary:hover {
    background: linear-gradient(to right, #ff7aa8, #516391);
}