@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    transition: all .2s linear;
}
body::-webkit-scrollbar {
    display: none;
  }

  section{
    padding: var(--spacing-1-5) 2%;
    }

:root {
    /* ******************colors****************** */
    --primary-color:#0e101c;
    /* --primary-light-color:#191D3A; */
    /* --secondary-color:#FBACC9; */
    /* --secondary-color-1:#EC59AD; */
    /* --bg-color:#081229 ; */
    --color-medium-blue: #4f6294;
    /* --secondary-light-color:#ff7aa8; */
    /* --header-color:#0E101C; */
    /* --white:#ffffff; */
    --text-color-secondary:#2D2D2D;
    --color-black: #2d2d2d;
    --color-grey: #333;
    --color-light-grey: #ccc;

    --primary-color:#0e101c;
    --secondary-color:#191D3A;
    --accent-color:#FBACC9;
    --bg-color:#081229;
    --white:#ffffff;
    --color-light-blue:#516391;




    
    /* ************************ spacing************************* */
    --spacing-1x: 1px;
    --spacing-2x: 2px;
    --spacing-3x: 3px;
    --spacing-4x: 4px;
    --spacing-5x: 5px;
    --spacing-6x: 5px;
    --spacing-7x: 7px;
    --spacing-8x: 8px;
    --spacing-10x: 10px;
    --spacing-0-5: 0.5rem;
    --spacing-0-2: 0.2rem;
    --spacing-0-8: 0.8rem;
    --spacing-1: 1rem;
    --spacing-1-2: 1.2rem;
    --spacing-1-3: 1.3rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --z-index-2: 2;
    --z-index-3: 3;

}
.bottom-gutter-xs{
    margin-bottom:6px ;
}
.bottom-gutter-sm{
    margin-bottom:1rem ;
}

.bottom-gutter-md{
    margin-bottom:2rem ;
}
.bottom-gutter-lg{
    margin-bottom:3rem ;
}
.bottom-gutter-xl{
    margin-bottom:5rem ;
}

.top-gutter-sm{
    margin-top:1rem ;
}

.top-gutter-lg{
    margin-top:3rem ;
}
.top-gutter-md{
    margin-top:2rem ;
}

.right-gutter-sm{
margin-right: 10px;
}

.top-gutter-xl{
    margin-top:5rem ;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}


.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

a {
    text-decoration: none;
}

.heading-1 {
    padding-bottom: var(--spacing-1-5);
    font-size: 3.5rem;
    position: relative;
    color: var(--text-primary-color);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
.heading-3{
    padding-bottom: var(--spacing-1-3);
    font-size: 2.8rem;
    position: relative;
    color: var(--text-primary-color);
}

hr {
    border: var(--spacing-1x) solid var(--light-color);
}

.center-text{
    text-align: center;
}
.left-text{
    text-align: start;
}
.small-text{
    font-size: 1.5rem;
    letter-spacing: 2px;
}


@media (max-width:768px){

    header .left_area h1{
        font-size: 2rem;
        }

    header .search-form{
        width:100%;
        display: none;
    }

}

@media (max-width:594px) {
    .navigation_panel{
        z-index: 3;
        position: absolute;
        height: 100%;
        width: 80%;
        overflow: hidden;
        left: -30rem;
        transition: left 1s ease-out;

    }
    .navigation_panel.active {
        left: 0;
        transition: left 0.5s ease-out;
    }
    header .hamburger-icon{
        display: block;
    }
}