.videopage{
    display: flex;
    flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.video_note_panel,
.video_panel,
.note_panel{
overflow-y:auto;
}

.video_note_panel{
    flex: 1;
    display: flex;
}
.note_panel{
    flex-basis: 20rem;
  padding: var(--spacing-2) 0;
  background-color: var(--primary-light-color);
}