.playlistcard{
    width: 18rem;
    max-height: 18rem;
    cursor: pointer;
    position: relative;
    background-color: var(--blue-350);
    border-radius: 5px;
    box-shadow:var(--spacing-3x) var(--spacing-3x) var(--spacing-3x)rgb(46, 53, 107,0.5);
}
.trans-drawer{
    height: 10rem;
    width: 43%;
    position: absolute;
    background-color: var(--black-6);
    top: 0;
    right:0;
    opacity: 0.9;
}
.trans-drawer span{
    font-size: 1.2rem;
}

.playlist-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-10x) var(--spacing-1)
}
.trans-drawer .video-text{
    font-size: 1rem;
}
.playlistvideo-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.videolist_wrap::-webkit-scrollbar { 
    display: none; 
}
.videoimg_list_wrap,
.video_img_wrap,
.videolist_wrap{
    overflow-y: auto;
}
.videoimg_list_wrap{
    flex: 1;
    display: flex;
}
.video_img_wrap {
    flex-basis: 32rem;
    padding: var(--spacing-3) var(--spacing-2) ;
  }
  .videolist_wrap {
    flex: 1;
    height: 100%;
    padding: var(--spacing-3) var(--spacing-1-5) var(--spacing-1-5) 0 ;
    
  }
  .playlistimg-container{
    width: 100%;
    height: 15rem; 
  }

