.navigation_panel {
    width: 17rem;
    padding: var(--spacing-2) 0;
    background-color: var(--blue-400);
    position: fixed;
    height: 100%;
    z-index:3
  }
.nav-lists{
    margin-top: 1rem;
    width: 100%;
}
.nav-lists li{
    margin: var(--spacing-10x) 0;
    padding: var(--spacing-1);
    width: 100%;
   display: flex;
}
.icon-size{
    font-size: 1.4rem;
    color: var(--black-1);
    margin-right: var(--spacing-1-5);
}
.links_name{
    color: var(--black-1);
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}
.nav-lists li:hover{
    background-color: var(--blue-350);
    transition: all 0.5s ease;
}