.explore {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  margin-left: 17rem;
}

.videolist_panel {
  width: 100%;
  padding-bottom: var(--spacing-3);
}

.videolist_panel::-webkit-scrollbar {
  display: none;
}

section {
  padding: var(--spacing-1-5) 2%;
}

.category-video-container-explore {
  display: flex;
  gap: var(--spacing-1-5);
  justify-content: center;
  flex-wrap: wrap;

}

@media (max-width:594px) {
  .explore {
    margin-left: 0rem;
  }
}